html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: stretch;
    display: flex;
    font-size: 12pt;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

